
/* Your CSS Code here. */
.first{
	background-color:black;
	color:white;
	border-radius:5px;
	transition-property: background-color border-radius;
}
.first:hover{
	background-color:yellow;
	border-radius:300px;
}