
/* Your CSS Code here. */
.first{
	background-color:black;
	color:white;
	border-radius:5px;
	//border:0px;
	transition:all 0s linear;
}
.first:hover{
	background-color:yellow;
	color:black;
	border-radius:30px;
}